pkgbase = jitsi-meet-prosody
	pkgdesc = Jitsi Meet Prosody Plugins
	pkgver = 1.0.4249
	pkgrel = 1
	url = https://jitsi.org/jitsi-meet/
	arch = any
	groups = jitsi-meet,
	groups = celogeek
	license = Apache
	optdepends = prosody
	optdepends = lua52
	optdepends = lua52-sec
	optdepends = lua52-zip
	optdepends = lua52-event
	noextract = jitsi-meet-prosody-1.0.4249.tar.gz
	options = !strip
	source = jitsi-meet-prosody-1.0.4249.tar.gz::https://github.com/jitsi/jitsi-meet/archive/4249.tar.gz
	sha256sums = 6fad37db2ee81d485efd5a5b6ecf25b82bc6b5e2e128573c41d38899f905d52e

pkgname = jitsi-meet-prosody

