pkgbase = jitsi-meet-web
	pkgdesc = Jitsi Meet Web
	pkgver = 1.0.4300
	pkgrel = 1
	url = https://jitsi.org/jitsi-meet/
	arch = any
	groups = jitsi-meet,
	groups = celogeek
	license = Apache
	makedepends = python
	makedepends = python2
	makedepends = nodejs
	makedepends = npm
	optdepends = nginx
	options = !strip
	backup = etc/webapps/jitsi-meet-web/logging_config.js
	backup = etc/webapps/jitsi-meet-web/config.js
	backup = etc/webapps/jitsi-meet-web/interface_config.js
	source = jitsi-meet-web::git+https://github.com/jitsi/jitsi-meet#tag=4300
	sha256sums = SKIP

pkgname = jitsi-meet-web

