pkgbase = jitsi-meet-web
	pkgdesc = Jitsi Meet Web
	pkgver = 1.0.4249
	pkgrel = 1
	url = https://jitsi.org/jitsi-meet/
	arch = any
	groups = jitsi-meet,
	groups = celogeek
	license = Apache
	makedepends = python
	makedepends = python2
	makedepends = nodejs
	makedepends = npm
	optdepends = nginx
	noextract = jitsi-meet-web-1.0.4249.tar.gz
	options = !strip
	backup = etc/webapps/jitsi-meet-web/logging_config.js
	backup = etc/webapps/jitsi-meet-web/config.js
	backup = etc/webapps/jitsi-meet-web/interface_config.js
	source = jitsi-meet-web-1.0.4249.tar.gz::https://github.com/jitsi/jitsi-meet/archive/4249.tar.gz
	sha256sums = 6fad37db2ee81d485efd5a5b6ecf25b82bc6b5e2e128573c41d38899f905d52e

pkgname = jitsi-meet-web

